[Unit]
Description=Communication hub's filesystem service
Requires=communication-hub-setup.service
After=communication-hub-setup.service

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=/etc/default/opt/communication-hub.env
ExecStart=/usr/bin/service_filesystem --receive-address $COMM_HUB_BROADCAST_ADDRESS \
                                      --send-address $COMM_HUB_COLLECTOR_ADDRESS    \
                                      --csp-address $SERVICE_FILESYSTEM_CSP_ADDRESS \
                                      --csp-netmask-file $SERVICE_CSP_NETMASK_FILE

[Install]
WantedBy=multi-user.target